@(playlists: Map[String,List[String]], name: String)

@if(playlists(name).isEmpty){
    <div id="table-@name">
        <p class="text-danger">There is no songs in the playlist.</p>
        <p class="text-danger">Please add some by clicking on the image above. You can also directly drag & drop songs onto the image.</p>
    </div>
}else{
    <table id="table-@name" class="table">
        <tbody>
    		@for(song <- playlists(name)){
    			<tr><td>@song <span class="remove glyphicon glyphicon-floppy-remove" style="color:#cf3838; display:none;" onclick="removeSong('@song', '@name')"></span></td></tr>
    		}
        </tbody>
    </table>
}
